<% content_for :html_class, "page-center" %>
<% content_for :body_class, "page-center" %>

<div class="col s12 z-depth-4 card-panel">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "form-card"}) do |f| %>
  
    <div class="row margin">
        <div class="input-field col s12 center">
            <%= image_tag "form-card-logo.png", alt: "", class: "circle responsive-img valign form-card-logo" %>
            <h1 class="center form-card-title">Resend confirmation instructions</h1>
        </div>
    </div>
    
    <%= devise_error_messages! %>
    
    <%= render "devise/shared/messages" %>
    
    <div class="row margin">
        <div class="input-field col s12">
            <i class="material-icons prefix">person_outline</i>
            <%= f.email_field :email, required: "required", aria: {required: true}, class: "validate", autofocus: true,
                              value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
            <%= f.label :email %>
        </div>
    </div>
    
    <div class="row">
        <div class="input-field col s12">
            <%= f.submit "Resend instructions", class: "btn waves-effect waves-light col s12" %>
        </div>
    </div>
    
    <%= render "devise/shared/links" %>
    
    <% end %>
</div>
