<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Is active</th>
      <th>Names</th>
      <th>Lastnames</th>
      <th>Identification</th>
      <th>Identification type</th>
      <th>Birth date</th>
      <th>Balance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><i class="material-icons"><%= employee.is_active ? "check" : "close" %></i></td>
        <td><%= employee.names %></td>
        <td><%= employee.lastnames %></td>
        <td><%= employee.identification %></td>
        <td><%= employee.identification_type %></td>
        <td><%= employee.birth_date %></td>
        <td><%= employee.balance %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td>
          <% if employee.is_active %>
            <%= link_to 'Deactivate', deactivate_employee_path(employee), method: :put %>
          <% else %>
            <%= link_to 'Activate', activate_employee_path(employee), method: :put %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
