<p id="notice"><%= notice %></p>
<%= link_to 'New user', new_user_path %>

<br></br>

<table id="list-users" class="datatable striped" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Active</th>
      <th>Names</th>
      <!--<th>Lastnames</th>-->
      <th>Identification</th>
      <!--<th>Identification type</th>-->
      <th>Birth date</th>
      <!--<th>Balance</th>-->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><i class="material-icons"><%= user.is_active ? "check" : "close" %></i></td>
        <td><%= user.names + " " + user.lastnames %></td>
        <!--<td><%= user.lastnames %></td>-->
        <td><%= user.identification %></td>
        <!--<td><%= user.identification_type %></td>-->
        <td><%= user.birth_date.strftime("%b %e, %Y") %></td>
        <!--<td><%= user.balance %></td>-->
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td>
          <% if user.is_active %>
            <%= link_to 'Deactivate', deactivate_user_path(user), method: :put %>
          <% else %>
            <%= link_to 'Activate', activate_user_path(user), method: :put %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  
  <tfoot>
    <tr>
      <th>Active</th>
      <th>Names</th>
      <!--<th>Lastnames</th>-->
      <th>Identification</th>
      <!--<th>Identification type</th>-->
      <th>Birth date</th>
      <!--<th>Balance</th>-->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </tfoot>
</table>


