<%= form_for(company) do |f| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>

  <div class="field">
    <%= f.label :is_active %>
    <%= f.check_box :is_active %>
  </div>

  <div class="field">
    <%= f.label :business_name %>
    <%= f.text_field :business_name %>
  </div>

  <div class="field">
    <%= f.label :comercial_name %>
    <%= f.text_field :comercial_name %>
  </div>

  <div class="field">
    <%= f.label :identification %>
    <%= f.text_field :identification %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :holidays %>
    <%= f.text_area :holidays %>
  </div>

  <div class="field">
    <%= f.label :business_days %>
    <%= f.text_area :business_days %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
