<!DOCTYPE html>
<html lang="es" class="<%= yield (:html_class) %>">
	<head>
		<title><%= content_for?(:title) ? yield(:title) : "Ponto" %></title>
		<meta charset="utf-8" />
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="description" content="">
		<meta name="keywords" content="">

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<%= csrf_meta_tags %>
		
		<!-- Favicons -->
		<%= favicon_link_tag 'favicons/favicon.png' %>
		<!-- For iPhone -->
		<%= favicon_link_tag 'favicons/apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
		<!-- For Windows Phone -->
		<meta name="msapplication-TileColor" content="#00bcd4">
		<meta name="msapplication-TileImage" content="assets/favicons/mstile.png">
	
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
	</head>
	<body class="<%= yield (:body_class) %>">
		<!-- Start Page Loading -->
		<!--<div id="loader-wrapper">
			<div id="loader"></div>        
			<div class="loader-section section-left"></div>
			<div class="loader-section section-right"></div>
		</div>-->
		<!-- End Page Loading -->
		
		<% if user_signed_in? && !(current_page?(user_confirmation_path) || current_page?(new_user_confirmation_path)) %>

			<%= render "header" %>
	
			<!-- START MAIN -->
			<div id="main">
				
				<!-- START WRAPPER -->
				<div class="wrapper">
	
					<%= render "left_sidebar_nav" %>
					
					<!-- START CONTENT -->
					<section id="content">
						
						<!--breadcrumbs start-->
						<nav id="page-nav" class="grey lighten-3">
							<div class="container">
								<div class="nav-wrapper">
									<h1 class="page-title">Blank Page</h1>
									<div class="col s12 hide-on-med-and-down">
										<a href="#" class="breadcrumb">First</a>
										<a href="#" class="breadcrumb">Second</a>
										<a href="#" class="breadcrumb">Third</a>
									</div>
								</div>
							</div>
						</nav>
		  				<!--breadcrumbs end-->	
	
						<!--start container-->
						<div class="container">
							<div class="section">
								<%= yield %>
							</div>
						</div>
						<!--end container-->
					</section>
					<!-- END CONTENT -->
	
					<%= render "right_sidebar_nav" %>
	
				</div>
				<!-- END WRAPPER -->
	
			</div>
			<!-- END MAIN -->
	
			<% render "footer" %>
			
		<% else %>
			
			<%= yield %>
			
		<% end %>
		
		<!--<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>-->
		

	</body>
</html>